/* animations.css */

/* @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes fadeInRotate {
    from {
      opacity: 0;
      transform: rotate(180deg);
    }
    to {
      opacity: 1;
      transform: rotate(0);
    }
  }
  
  section {
    animation: fadeIn 1s ease-in-out;
  }
  
  h2 {
    animation: slideInFromLeft 1s ease-in-out;
  }
  
  ul {
    animation: slideInFromRight 1s ease-in-out;
  }
  
  .profile-pic img {
    animation: bounce 1s infinite alternate;
  }
  
  .footer p {
    animation: rotate 4s linear infinite;
  }
  
  header {
    animation: fadeInRotate 1s ease-in-out;
  }
   */